<div class="container-fluid" ng-controller="changePasswordController as changePassword">
    <div class="row">
        <div class="col-sm-offset-4 col-sm-4 col-xs-12">
            <div>
                <uib-alert type="{{changePassword.alertChangePass.type}}">
                    <div class="alert alert-{{changePassword.alertChangePass.type}}" role="alert">{{changePassword.alertChangePass.msg}}</div>
                </uib-alert>
            </div>                 
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-4 col-sm-4 col-xs-12">
            <div class="caja-tama mtop5">
                <h2 class="mtop5 text-center">Cambiar contraseña</h2>
                <p class="p-sesion text-center mtop10">En esta sección puedes cambiar tu contraseña por una nueva.</p>
                <div class="caja-login animated fadeIn mtop20">
                    <form ng-submit="changePassword.changePassword(changePassword.dataPassword);">
                        <div class="form-group">
                            <label for="exampleInputPassword">Ingresa la contraseña anterior:</label>
                            <input type="password" class="form-control" ng-model="changePassword.dataPassword.lastPassword" placeholder="Contraseña anterior" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword">Ingresa la nueva contraseña:</label>
                            <input type="password" class="form-control" ng-model="changePassword.dataPassword.newPassword" placeholder="Nueva contraseña" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword">Repite la nueva contraseña:</label>
                            <input type="password" class="form-control" ng-model="changePassword.dataPassword.repeatNewPassword" placeholder="Nueva contraseña" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Enviar</button>
                    </form>
                </div>
            </div>
        </div>            
    </div>
</div>