<div class="container-fluid" ng-controller="forgotPassController as forgotPass">
    <div class="row">
        <div class="col-sm-offset-4 col-sm-4">
            <div class="alert alert-info" role="alert" ng-if="!forgotPass.alert">
                <i class="glyphicon glyphicon-info-sign"></i> Le enviaremos la contraseña a su correo
            </div>
            <div class="alert alert-{{forgotPass.alert.type}} alert-dismissible" role="alert" ng-if="forgotPass.alert">
                {{forgotPass.alert.message}}
            </div>
        </div>
    </div>    
    <div class="row">
        <div class="col-sm-offset-4 col-sm-4 col-xs-12">
            <div class="caja-tama">
                <div class="caja-login animated fadeIn">
                    <h2>Recordar</h2>
                    <form ng-submit="forgotPass.forgot();">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Introduce tu correo electrónico</label>
                            <input type="email" class="form-control" ng-model="forgotPass.user.email" placeholder="Correo electrónico">
                        </div>
                        <button type="submit" class="btn btn-lg btn-primary btn-block" ng-disable="btnDisable">Enviar</button>
                        <div class="form-group mtop20">
                            <a href="#!/login"><span class="ion-android-arrow-back"></span> Inicia sesión en Agrotek</a>
                        </div>                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h6 class="text-center mtop20">Copyright © 2017. Todos los derechos reservados Agrotek Web 2017.</h6>
      </div>
    </div>  
</div>