<div ng-controller="templateVideoTextController as templateVideoText">
  <div ng-if="templateVideoText.alertContent" class="alert alert-{{templateVideoText.alertContent.type}} alert-dismissible alert-fixed" role="alert">
    <button type="button" class="close" ng-click="templateVideoText.alertContent = null" aria-label="Close"><span aria-hidden="true">&times;</span></button> {{templateVideoText.alertContent.message}}
  </div>
  <form name="formEditor">
    <div class="row mtop20">
      <div class="col-sm-12">
        <div class="form-group">
          <label class="control-label" for="title">Título</label>
          <input type="text"
          name="title"
          class="form-control"
          placeholder="Título"
          ng-model="templateVideoText.content.title"
          no-validation-message="true"
          validator="required,maxlength=60">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label class="control-label" for="video">Añadir vídeo (sólo id):</label>
          <input type="text"
          name="video"
          placeholder="Video"
          class="form-control"
          ng-model="templateVideoText.content.template.video"
          no-validation-message="true"
          validator="required">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <div class="form-group">
          <label class="control-label" for="image">Añadir Resumen (Max 60 carácteres):</label>
          <textarea maxlength="60" class="form-control" ng-model="templateVideoText.content.abstract" name="abstract" no-validation-message="true" validator="required,maxlength=60"></textarea>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <div class="form-group">
          <div text-angular ng-model="templateVideoText.htmlContent"
                validator="required" no-validation-message="true" required>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <button class="btn btn-primary pull-right" type="submit" validation-submit="formEditor" ng-click="templateVideoText.saveContent()" ng-disabled="templateVideoText.buttonDisabled">GUARDAR</button>
      </div>
    </div>

  </form>
</div>